.header {
  padding: 40px;
  height: 18vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  border-bottom: 4px solid var(--accent-color);
}

.link_container {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.link_container a {
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}

.link_container a:hover {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.link_container .link_actual {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

@media (max-width: 510px) {
  .header {
    display: none;
  }
}
